#style{
    max-width: 750px;
    align-content: center;
    border: solid;
    border-color: red;
    border-width: 8px;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    background-image: url("https://cdn1.thr.com/sites/default/files/imagecache/scale_crop_768_433/2017/11/justice_league_29_copy_-_h_2017.jpg");
    image-resolution: 30px;
}